#include <pgmspace.h>

#define THINGNAME "thing"
#define WIFI_SSID "ssid"
#define WIFI_PASSWORD "password"
#define AWS_IOT_ENDPOINT ".iot.ap-northeast-1.amazonaws.com"
#define AWS_IOT_TOPIC "topic" // The MQTT topic that this device should publish/subscribe

// Amazon Root CA 1
static const char AWS_CERT_CA[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----
)EOF";

// Device Certificate
static const char AWS_CERT_CRT[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
-----END CERTIFICATE-----
)EOF";

// Device Private Key
static const char AWS_CERT_PRIVATE[] PROGMEM = R"EOF(
-----BEGIN RSA PRIVATE KEY-----
-----END RSA PRIVATE KEY-----
)EOF";


